
     html {
     background-image: url("black.jpeg");
     background-size: 100%;
     /* background-size: auto auto; */
     background-position: left top;
    }

    /* button css */

    .Button {
        box-shadow:inset 0px 1px 0px 0px #f7c5c0;
        background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
        background-color:#fc8d83;
        border-radius:6px;
        border:1px solid #8f374a;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #b23e35;
    }
    .Button:hover {
        background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
        background-color:#000000;
    }
    .Button:active {
        position:relative;
        top:1px;
    }
    
            